.header__img {
    position: relative;
    width: 100%;

}
.header__badge {
    position: absolute;
    top: 100px;
    right: 150px;

}

.col__flex {
    display: flex;
    /* flex-direction: column;    */
}

.item {
    width: 265px;
    height: 405px;
    border: 1px solid black;
    position: relative;
}

.topImg_badge {
    position: absolute;
    top:10px;
    left:10px;
}