.header__img {
    position: relative;
    width: 100%;

}
.header__badge {
    position: absolute;
    top: 100px;
    right: 150px;

}

.col__flex {
    display: flex;
    /* flex-direction: column;    */
}

.item {
    width: 265px;
    height: 405px;
    border: 1px solid #C8C8C8;
    position: relative;
    border-radius: 10px 10px 10px 0;
    margin-left: 20px;
}

.topImg>img {
    position: absolute;
    top: 10px;
    left: 107px;
}

.btn {
    width: 205px;
    height: 40px;
}

.btn_second {
    text-decoration: none;
    border: 1px solid #EE0033;
    border-radius: 10px 10px 10px 0;
    color: #EE0033;
    padding: 10px 50px;
    margin-left: 50px;

}

.item__footer {
    width: 264px;
    height: 8px;
    background-color: #EE0033;
    border-radius: 0 0 10px 0;
    position: absolute;
    bottom: 0px;
    left: -1px;
    
}

.footer {
    width: 100%;
    height: 250px;
    background-color: #DFDFDF;
    margin-top: 115px;
}

.footer__title {
    padding-top: 40px;
}
.footer__text {
    padding-top: 20px;
}
.footer__icon {
    padding-top: 35px;
}
.footer__under {
    padding-top: 20px;
}

.app {
    display: none;
}


/* end css phần chưa đăng nhập */



/* css cho phần đã đăng nhập */

.footer-down {
    display: flex;
}

.bar {
    display: block;
    width: 10px;
    height: 17px;
    border: 1px solid white;
    margin: 2px 11px 0 9px;
}

/* css mobile cho phần đã đăng nhập */
@media (max-width: 767.98px) {
    .header {
        width: 800px;
    }

    .body {
        width: 800px;
    }
}

/* end mobile đã đăng nhập */