.header {
    text-align: center;
}
.block__data {
    display: block;
    width: 268px;
    height: 345px;
    border: 2px solid #fbdbfb;
    margin: 100px 500px;
    position: relative;
    border-radius: 10px 10px 10px 0;

}
.block__data-text {

}

.block__data-text-son {
    text-align: center;
}

.block__data-img {
    position: absolute;
    top: 7px;
    left: 105px;
}

.block__data-money {
    text-align: center;

}

.block__data-money-big {
    color: red;
    font-size: 40px;
    font-weight: 800px;
    
}

.block__data-money-small {
    color: red;
    font-size: 25px;
    font-weight: 500px;
}

.block__text {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.block__text-text {
    margin: 3px ;
    
}

.button {

}

.button_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.button__btn-signup {
    width: 80%;
    height: 40px;
    background-color: red;
    margin: 10px auto;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 10px 10px 10px 0;
    cursor: pointer;
    
}


.button__btn-in {
    width: 50%;
    height: 30px;
    background-color: #fff;
    margin: 10px auto;
    border: 1px solid red;
    border-radius: 10px 10px 10px 0;
    text-align: center;
    color: red;
    text-decoration: none;
    cursor: pointer;
    
}

.block__border {
    display: block;
    width: 100%;
    background-color: red;
    height: 8px;
    border-radius: 10px 10px 10px 0;
    margin-top: 10px;
}